In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
data = pd.read_csv("Advertising.csv")
data.head()

      TV  radio  newspaper  sales
0  230.1   37.8       69.2   22.1
1   44.5   39.3       45.1   10.4
2   17.2   45.9       69.3    9.3
3  151.5   41.3       58.5   18.5
4  180.8   10.8       58.4   12.9

In [4]:
X = data.drop("sales", 1)

In [6]:
y = data.sales

In [7]:
from sklearn.preprocessing import PolynomialFeatures

In [8]:
polynomial_converter = PolynomialFeatures(degree = 2 , include_bias= False)

In [9]:
polynomial_converter.fit(X)

PolynomialFeatures(degree=2, include_bias=False, interaction_only=False)

In [14]:
poly_features = polynomial_converter.transform(X)

In [18]:
poly_features

array([[ 230.1 ,   37.8 ,   69.2 , ..., 1428.84, 2615.76, 4788.64],
       [  44.5 ,   39.3 ,   45.1 , ..., 1544.49, 1772.43, 2034.01],
       [  17.2 ,   45.9 ,   69.3 , ..., 2106.81, 3180.87, 4802.49],
       ...,
       [ 177.  ,    9.3 ,    6.4 , ...,   86.49,   59.52,   40.96],
       [ 283.6 ,   42.  ,   66.2 , ..., 1764.  , 2780.4 , 4382.44],
       [ 232.1 ,    8.6 ,    8.7 , ...,   73.96,   74.82,   75.69]])

### Instead of "fit" then "transform" we can do both of them in one step using "fit_transform(x) "

In [19]:
from sklearn.model_selection import train_test_split

In [21]:
X_train, X_test, y_train, y_test = train_test_split(poly_features, y, test_size=0.3, random_state=42)

In [22]:
from sklearn.linear_model import LinearRegression

In [23]:
model = LinearRegression()

In [24]:
model.fit(X_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [26]:
test_predictions = model.predict(X_test)

In [27]:
model.coef_

array([ 0.05478172,  0.01311214,  0.01086391, -0.00011074,  0.00108048,
       -0.00010764,  0.00030191,  0.00017541,  0.00010075])

In [28]:
from sklearn.metrics import mean_absolute_error, mean_squared_error

In [29]:
MAE  = mean_absolute_error(y_test,test_prediction)
MSE  = mean_squared_error(y_test,test_prediction)
MRSE = np.sqrt(MSE)

In [31]:
print(MAE, "\t", MSE, "\t",MRSE)

0.5905974833808008 	 0.5231944949055387 	 0.7233218473857531